src/aptik-battery-monitor
src/aptik-battery-monitor-gtk
src/aptik-battery-bar
release/source
release/amd64
release/i386
release/armel
release/armhf
release/*.deb
release/*.run
*.geany
.git
.bzr
*.c
*.o
*~
