[Desktop Entry]
Name=Aptik Battery Monitor
MimeType=
Exec=aptik-bmon-launcher
Type=Application
GenericName=Battery Monitor
Terminal=false
Icon=aptik-bmon
Caption=Battery Monitor
X-KDE-StartupNotify=false
Categories=System;
Name[en_US]=Aptik Battery Monitor
