[Desktop Entry]
Name=Aptik Battery Monitor
MimeType=
Exec=aptik-battery-monitor-gtk
Type=Application
GenericName=Battery Monitor
Terminal=false
Icon=aptik-battery-monitor
Comment=Battery Monitor
X-KDE-StartupNotify=false
Categories=System;
Name[en_US]=Aptik Battery Monitor
